@page 
@model Website.Pages.HelloModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Welcome";
}

<html>
    <body>
        <p>Sign Up</p>
        <div asp-validation-summary="All"></div>
        <form method="post">
            <div>First Name: <input asp-for="User.FirstName" /></div>
            <div>Last Name: <input asp-for="User.LastName" /></div>
            <div>Email: <input asp-for="User.Email" /></div>
            <input type="Submit" />
        </form>
    </body>
</html>

