@page 
@model Website.Pages.HelloModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Welcome";
}

<html>
    <head>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
        <p>Sign Up</p>
        <div asp-validation-summary="All"></div>
        <form method="post">
            <div>First Name: <input asp-for="User.FirstName" /></div>
            <div>Last Name: <input asp-for="User.LastName" /></div>
            <div>Email: <input asp-for="User.Email" /></div>
            <input type="Submit" />
        </form>

        <div id="content"></div>
        <div id="content-bar"></div>
        <svg id="svg">
            <rect x="10" y="15" width="60" height="20" />
            <line x1="95" y1="35" x2="105" y2="15" />
            <circle cx="130" cy="25" r="6"/>
        </svg>
        <script>
            /* var data = [1,3,4,5,6,9];
            d3.select('#content')
                .data(['', 'rick','Sarah','Dakota','Tom','Sean'])
                .enter()
                .append('div')
                .text(function (name) { return 'Hello ' + name + '!'});
            var textElement = svg.selectAll('rect').data(data).enter();
            textElements.attr({ 'class': 'grey'});

            var svg = d3.select('#content').append('svg');
            svg.append('rect').attr({x:10, y:15, width: 60, height: 100});
            svg.append('line').attr({x1:85, y1:2, x2:105, y2:120});
            svg.append('circle').attr({cx:110, cy:25, r:6}); */

            d3.select('#content')
                .append('svg')
                    .selectAll('rect')
                    .data([100,200,150,2,10000])
                    .enter()
                    .append('rect')
                        .attr('x', 0)
                        .attr('y', function(data, index) { return index * 25 })
                        .attr('height', 20)
                        .attr('width', function(data, index) {return data});
        </script>
    </body>
</html>

