@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Simplifying the Marathon</h1>

<p>
    In order to run a marathon, we often think that we have to undergo drastic changes in our life.  This is not true.
    Most successful runners have balanced lives with families, forty-hour work weeks, and many other responsibilities. 
    In my case, I found out that learning how to training and running itself is what helped me manage the other aspects of my life that on first thought
    wouldn't be correlated, such as personal finance, my career as a software developer. By learning how 
    to systematically change a small number of habits in my daily life, I was able to qualify for the Boston Marathon. 
    I have come up with a list of things that will help you 
    become not only a successful runner and a healthier and happier human being.
</p>
<h3>
    1) You'll want a plan. 
</h3>
<p>
    Whether you want to complete a marathon, or qualify for Boston, you will want a plan. 
    Not just any plan, you will want a plan for you, and that details your day-to-day activities. You'll want this because
    it takes out the calculations and stipulations out of your head and onto something that you can physically "see". 
    The plan you need will provide you with a list of steps, broken down into 
    digestable and purposeful runs. I found that Advanced Marathoning by Pete Pfitzenger to be transformative and enlightening
    for someone who desparately wants to qualify for Boston and has not come from a formal background of colliegate track & field
    or high school cross country. The reason why I recommend this book is that it has a series of training plans that lay out your
    daily runs for the next 12 to 18 weeks leading to the "goal" race. 
</p>
<h3>
    2) Strava or Garmin
</h3>
<p>
    <a href="www.strava.com" target="_blank">Strava</a> and <a href="https://connect.garmin.com/" target="_blank">Garmin Connect</a> are apps that help you log your training. Keeping track of your training is important because it does 
    two things.  First, it keeps you in check. I'm not a person that needs to be in check, right? It helps you from over training, 
    and cooling your jets, as well as the opposite end of the spectrum of keeping you accountable.
    Secondly, it is an investment in your future. Strava, and Garmin, help you visualize your progress. Visualizing your
    training helps you see patterns that will arise in time from those hamstrings strains, unexpected fatigue, and personal bests. 
    Data is a secret to your success! (If you are the bohemian nomad, who's proud to be off grid, a training diary that logs your preceived
    effort and time can be a powerful substitution to the problematic social tools of Strava and Garmin.)
</p>
<h3>
    3) Starting slow, and staying consistent
</h3>
<p>
    Marathons are hard. They are like no other race. It is not like a walk in the park, or neighboorhood 5K, or even it's evil younger brother
    the half marathon.  It is an entirely different Event.  Captial "E" because it is the thing that requires you to stick to your plan and respect.
    Your pursuit in this can be simplified by starting slow and staying consistent. Over time, you will learn how to acknowledge yourself 
    and where you stand. 
</p>
<h3>
    4) Finding a running community
</h3>
<p>
    There are many different reasons why we like to run alone. Most of us fear that we will be losing something from the experience. If I don't
    hit a certain pace, I will not be able to run my goal marathon time. Or we become self-conscious and afraid of ourselves and how we look. 
    I have been uncomfortable with the way I look before, afraid to wear tanks tops and skimpy shorts. 
    Finding a community can do wonders for your motivation and happiness as a runner. 
</p>
<h3>
    5) Self-care
</h3>
<p>
    During your training, there are going to be many trials and turbulations. You are going to find out your limitations really fast. What is going
    to make you a successful runner is self care. Self care is a form of investing in your health. One of the most important parts of your training will
    be address what you need. 
</p>

<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
        </ul>
    </div>
</div>
-->
